{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="../assets/css/groupe.css">
{% endblock %}

{% block content %}

<form method="post" class="formulaire">
    <div class="moove">
        <div class="name">
            {% if errors.name is not empty %}
            <p> {{ errors.name }} </p>
            {% endif %}
            <label for ="name">nom du groupe</label>
            <input id="name" type="text" name="name" value="{{ group.name }}" required="required" size="60">
        </div>
        <br>
        <div class="mail">
            {% if errors.email is not empty %}
            <p> {{ errors.email }} </p>
            {% endif %}
            <label for="email">Votre adresse mail</label>
            <input id="email" type="email" name="email" value="{{ group.email }}" required="required" size="60" >
        </div>
        <br>
        <div class="password">
            {% if errors.password is not empty %}
            <p> {{ errors.password}} </p>
            {% endif %}
            <label for="password">Votre mot de passe</label>
            <input id="password" type="password" name="password" value "{{ group.password }}"required="required" placeholder size="60">
        </div>
        <br>
        <div class="city">
            {% if errors.city is not empty %}
            <p> {{ errors.city}}
            {% endif %}
            <label for="city"> choisissez votre ville</label>
            <select id="city" name="city">
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
            </select>
        </div>
        <br>
        <div class="texte">
            {% if errors.description is not empty %}
            <p> {{ errors.description }} </p>
            {% endif %}
            <label for="description">veuillez vous décrire</label>
            <textarea id="description" name="description" value"{{ group.description }}" required="required" ></textarea>
            <br>
        </div>
            <input type="submit" value="Valider">
        
    </div>
</form>
{% endblock %}



