<body>
    <header>
        <h1>Find My Band</h1>
        <img href="" alt="">
    </header>

    <div class="container">
        <h2>Création de votre profil</h2>
    </div>

    <div class="paragraphe">
        <p>Vous pouvez renseigner votre profil.Un profil complet permet d'accrocher plus facilement un musicien !</p>
    </div>

<form method="post" class="formulaire">
    
    <div class="name">
        {% if group.errorMessages.name is not empty %}
        <p> {{ group.errorMessages.name }} </p>
        {% endif %}
        <label for ="name">nom du groupe</label>
        <input id="name" type="text" name="name" value="{{ group.name }}">
    </div>
    <br>
    <div class="mail">
        {% if group.errorMessages.email is not empty %}
        <p> {{ group.errorMessages.email }} </p>
        {% endif %}
        <label for="email">Votre adresse mail</label>
        <input id="email" type="email" name="email" value="{{ group.email }}">
    </div>
    <br>
    <div class="password">
        {% if group.errorMessages.password is not empty %}
        <p> {{ group.errorMessages.password}} </p>
        {% endif %}
        <label for="password">Votre mot de passe</label>
        <input id="password" type="password" name="password" value="{{ group.password }}">
    </div>
    <br>
    <div class="city">
        {% if group.errorMessages.city is not empty %}
        <p> {{ group.errorMessages.city}} </p>
        {% endif %}
        <label for="city"> choisissez votre ville</label>
        <select id="city" name="city">
        {% for city in cities %}
            <option value="{{ city.id }}"{% if group.cityId == city.id %} selected{% endif %}>{{ city.name }}</option>
        {% endfor %}
        </select>
    </div>
    <br>
    <div class="texte">
        {% if group.errorMessages.description is not empty %}
        <p> {{ group.errorMessages.description }} </p>
        {% endif %}
        <label for="description">veuillez vous décrire</label>
        <textarea id="description" name="description">{{ group.description }}</textarea>
        <input type="submit" value="Valider">
    </div>
</form>
</body>
