<form method="post">
    {% if errors.name is not empty %}
    <p> {{ errors.name }} </p>
    {% endif %}
    <label for ="name">nom du groupe</label>
    <input id="name" type="text" name="name" value="{{ group.name }}">
    <br>

     {% if errors.email is not empty %}
    <p> {{ errors.email }} </p>
    {% endif %}
    <label for="email">Votre adresse mail</label>
    <input id="email" type="email" name="email" value="{{ group.email }}">
    <br>
    {% if errors.password is not empty %}
    <p> {{ errors.password}} </p>
    <label for="password">Votre mot de passe</label>
    <input id="password" type="password" name="password" value "{{ group.password }}">
    <label for="city"> choisissez votre ville</label>
    <select id="city" name="city">
    {% for city in cities %}
        <option value="{{ city.id }}">{{ city.name }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Valider">
</form>
