{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="../assets/css/groupe.css">
{% endblock %}
{% block content %}
<form  method="post"  class="formulaire">
<div class="container">
    <div class="name">
        {% if group.errorMessages.name is not empty %}
        <p> {{ group.errorMessages.name }} </p>
        {% endif %}
        <label for ="name">nom du groupe</label>
        <input id="name" type="text" name="name" value="{{ group.name }}" required="required">
    </div>
    <div class="mail">
        {% if group.errorMessages.email is not empty %}
        <p> {{ group.errorMessages.email }} </p>
        {% endif %}
        <label for="email">Votre adresse mail</label>
        <input id="email" type="email" name="email" value="{{ group.email }}" required="required">
    </div>
    <br>
    <div class="password">
        {% if group.errorMessages.password is not empty %}
        <p> {{ group.errorMessages.password}} </p>
        {% endif %}
        <label for="password">Votre mot de passe</label>
        <input id="password" type="password" name="password" value="{{ group.password }}" required="required">
    </div>
    <div class="city">
        {% if group.errorMessages.city is not empty %}
        <p> {{ group.errorMessages.city}} </p>
        {% endif %}
        <label for="city"> choisissez votre ville</label>
        <select id="city" name="city" required="required">
        {% for city in cities %}
            <option value="{{ city.id }}"{% if group.cityId == city.id %} selected{% endif %}>{{ city.name }}</option>
        {% endfor %}
        </select>
    </div>

    <div class="texte">
        {% if group.errorMessages.description is not empty %}
        <p> {{ group.errorMessages.description }} </p>
        {% endif %}
        <label for="description">veuillez vous décrire</label>
        <textarea id="description" name="description" required="required">{{ group.description }}</textarea>
        <input type="submit" value="Valider">
    </div>

</div>

</form>

{% endblock %}




