{% extends 'layout.html.twig' %}

{% block stylesheet %}

<link rel="stylesheet" href="../../assets/css/profil.css">

<link rel="stylesheet" href="../../assets/css/bootstrap.min.css"> 

 {% endblock %}

{% block content %}

<body class="bg">
    <div class="logo">
    <h1> Bienvenu {{ group.name}} </h1>
        <p>{{ group.email}} </p>
    </div>
    <div class="pr">
    <h1> Vous pouvez renseignez Votre instrument </h1>
    <h1>Votre niveau de maitrise</h1>
    <h4>Pour trouver le meilleur group</h4>
    </div> 
    <form method="post">
    <div class="info">
        <label for="mastery">Votre niveau de maitrise</label>
        <select id="mastery" name="mastery">
        <option value="">  </option>
            {% for mastery in masteries %}
            <option value="{{ mastery.id }}">{{ mastery.level }}</option>

 {% endfor %}

</select>

  <input type="submit" value="Valider">

</div>

<div class="instrement">

 {% for instrument in instruments %}

<label for="instrument">Votre instruments</label>

<select id="instrument">

  <option value="{{ instrument.id }}">{{ instrument.name }}</option>

     {% endfor %}

</select>

</div>

</form>

<div class="ajouter">

<a href="/instrument/add/{{ musician.id}}">Ajouter un instrument</a>

</div>

</body>

{% endblock %}
