{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="../../assets/css/profil.css">
<link rel="stylesheet" href="../../assets/css/bootstrap.min.css"> 
 {% endblock %}
{% block content %}


<body class="body">


  <!-- Navbar -->
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="flex-sm-fill text-sm-center nav-link disabled" href="../Home/index"tabindex="-1" aria-disabled="true" >FIND MY BAND</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="../Home/index">Accueil</a>
  </nav>

   <!--Photo-->
    <div class="container-fluid pic">
    </div>

  <div class="title-profil">
    <h1> Mon profil musicien</h1>
  </div>

  <div class="header-ctn">
    <div class="card text-white bg-dark mb-3">
      <p class="card-text"><p>Bienvenue {{ musician.pseudo}} ! Vous pouvez être contacté(e) à l'adresse :{{ musician.email}} </p>
    </div>
  </div>

  <div class="txt_profil">
    <h4> Renseignez votre profil afin que FIND MY BAND vous trouve le groupe de vos rêves ! </h4>
  </div> 


<div class="form_profil">
  <form method="post">
    
         <label for="mastery">Votre niveau de maitrise</label>
             <select id="mastery" name="mastery">
              <option value="">  </option>
                {% for mastery in masteries %}
                <option value="{{ mastery.id }}">{{ mastery.level }}</option>
                {% endfor %}
             </select>
              <input type="submit" value="Valider">
     

      <label for="instrument">Votre instrument</label>
      <select id="instrument" name="instrument">
      <option value="">  </option>
        {% for instrument in instruments %}
        <option value="{{ instrument.id }}">{{ instrument.name }}</option>
        {% endfor %}
         </select>
         <input type="submit" value="Valider">
       
  </form>
</div>

  <div class="ajout_profil">
    <a href="/instrument/add/{{ musician.id}}">Ajouter un instrument</a>
  </div>
 

  <!--footer-->
  <div class="footer">
    <footer>
        <div class="card text-center text-white bg-dark mb-3">
          <div class="card-header">
            Find My Band
          </div>
          <div class="card-body">
            <p class="card-text">FAQ</p>
            <p class="card-text">Mentions légales</p>
            <p class="card-text">Conditions d'utilisations</p>
            <a href="../Contact/index" class="btn btn-primary">Contactez nous</a>
          </div>
        </div>
    </footer>
  </div>

   <a href="/musician/logout">Logout</a>

</body>
{% endblock %}

